In [50]:
import os 
import csv 
import numpy
import pandas as pd

In [51]:
csvpath = os.path.join('budget_data.csv')

Date = []
Profit_Loss = []
Total_Months = []
New_Date = []
Total_Profit = []
Average = []
with open(csvpath, newline='') as csvfile:
    csvreader = csv.reader(csvfile, delimiter= ',')

    csvheader = next(csvfile)

    for row in csvreader:
            Date.append(row[0])
            New_Date.append(len(row[0]))
            Profit_Loss.append(int(row[1]))
            
Total_Profit = sum(Profit_Loss) 
Total_Months = len(Date)
Average = numpy.mean(Profit_Loss)
dataframe = pd.read_csv('budget_data.csv')

In [52]:
dataframe.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [53]:
def currency(x):
    return '${:,.2f}'.format(x)
dataframe["Profit/Losses"] = dataframe["Profit/Losses"].apply(currency)

dataframe.head()

       Date Profit/Losses
0  Jan-2010   $867,884.00
1  Feb-2010   $984,655.00
2  Mar-2010   $322,013.00
3  Apr-2010   $-69,417.00
4  May-2010   $310,503.00

In [54]:
Total_Profit = '${:,.2f}'.format(Total_Profit)

In [55]:
Average = '${:,.2f}'.format(Average)

In [56]:
data_max = dataframe.loc[dataframe[("Profit/Losses")] == '$999,942.00' , ["Date", "Profit/Losses"] ]

In [57]:
data_min = dataframe.loc[dataframe["Profit/Losses"]== '$-1,022,534.00', ["Date", "Profit/Losses"] ]

In [58]:
Financial_Analysis = pd.DataFrame({"Total Months": [Total_Months], 
                                  "Total Profit": [Total_Profit], 
                                   "Average Change": [Average],
                                   "Greatest Increase in Profits": [data_max],
                                   "Greatest Decrease in Profits": [data_min]})

In [59]:
print("Financial Analysis")
print("--------------------------------")
print("Total Months: ", Total_Months)
print("Total: ", Total_Profit)
print("Average Change: ", Average)
print("Greatest Increase in Profits: ",
      data_max)
print("Greatest Decrease in Profits: ", 
      data_min)

Financial Analysis
--------------------------------
Total Months:  86
Total:  $38,382,578.00
Average Change:  $446,309.05
Greatest Increase in Profits:          Date Profit/Losses
43  Aug-2013   $999,942.00
Greatest Decrease in Profits:          Date   Profit/Losses
31  Aug-2012  $-1,022,534.00

In [60]:
file = open('Financial_Analysis.txt','w')
file.write('Financial Analysis \n')
file.write('-------------------------------- \n')
file.write('Total Months: 86 \n')
file.write('Total:  $38,382,578.00 \n')
file.write('Average Change: $446,309.05 \n')
file.write('Greatest Increase in Profits: \n')
file.write('Date Profit/Losses \n')
file.write('Aug-2013   $999,942.00 \n')
file.write('Greatest Decrease in Profits: \n')
file.write('Date Profit/Losses \n')
file.write('Aug-2012  $-1,022,534.00 \n')
file.close()