In [1]:
import pandas as pd 
import os 
import numpy

In [2]:
df = pd.read_csv('election_data.csv')

df.head()

   Voter ID County Candidate
0  12864552  Marsh      Khan
1  17444633  Marsh    Correy
2  19330107  Marsh      Khan
3  19865775  Queen      Khan
4  11927875  Marsh      Khan

In [29]:
Total_Votes = df['Voter ID'].count()

In [4]:
print(df['Voter ID'].count())

3521001

In [6]:
df['Candidate'].unique()

array(['Khan', 'Correy', 'Li', "O'Tooley"], dtype=object)

In [7]:
print(df['Candidate'].unique())

['Khan' 'Correy' 'Li' "O'Tooley"]

In [54]:
Total_Votes = df['Candidate'].value_counts()

Total_Votes

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [59]:
Total_Votes_Percent = df['Candidate'].value_counts(3521001)

In [61]:
Total_Votes_Percent = Total_Votes_Percent *100 

Total_Votes_Percent

Khan        63.000011
Correy      19.999994
Li          13.999996
O'Tooley     2.999999
Name: Candidate, dtype: float64

In [60]:
print("Election Results")
print("-------------------------------")
print("Khan: 63.00% (2218231)") 
print("Correy: 19.99% (704200)")
print("Li:  13.99% (492940)")
print("O'Tooley:  2.99% (105630)")
print("-------------------------------")
print("Winner: Khan")
print("-------------------------------")

Election Results
-------------------------------
Khan  63.00% (2218231)
Khan        0.63
Correy      0.20
Li          0.14
O'Tooley    0.03
Name: Candidate, dtype: float64

In [63]:
file = open('Election_Results.txt','w')
file.write("Election Results \n")
file.write('-------------------------------- \n')
file.write('Khan: 63.00% (2218231) \n')
file.write('Correy: 19.99% (704200) \n')
file.write('Li:  13.99% (492940) \n')
file.write("O'Tooley:  2.99% (105630) \n")
file.write("------------------------------- \n")
file.write('Winner: Khan \n')
file.write('------------------------------- \n') 
file.close()